* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.css-10d9dml-MuiTabs-indicator {
  background-color: #db4444 !important;
}
.custome {
  border-radius: 4px;
}
textarea:focus-visible {
  outline: 0;
  border-bottom: 2px solid #db4444 !important;
}
